<footer>
    <section class="footer__block-a-flex">
        
        <div class="footer__section">
            <div class="footer__iconos" >
                <i class="fa-solid fa-credit-card footer__iconos-style"></i>
            </div>
            <h3 class="footer__titulares">Pagá con tarjeta o en efectivo</h3>
            <p class="footer__textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        
        <div class="footer__section">
            <div class="footer__iconos" >
                <i class="fa-solid fa-gift footer__iconos-style"></i>
            </div>
            <h3 class="footer__titulares">Envío gratis desde $ 2.500</h3>
            <p class="footer__textos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        
        <div class="footer__section">
            <div class="footer__iconos" >
                <i class="fa-solid fa-user-shield footer__iconos-style"></i>
            </div>
            <h3 class="footer__titulares">Seguridad, de principio a fin</h3>
            <p class="footer__textos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@
            </p>
        </div>
        
    </section>
    <p class="footer__textoFinal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>