<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("./partials/header") %> 

          
    <main>
        <!-- Section para el banner -->
        <section>
            <div class="main__contenedorBanner">
                <img src="/images/img-home-banner.jpg" alt="Banner MercadoLiebre">
            </div>
        </section>
        
        <!-- Sección "basado en tu última visita" -->
        <section>
            <h3 class="main__titulares">Basado en tu última visita</h3>
            
            <div class="main__sectionUltimaVisita">

                <!-- inicio ultima visita cafetera -->
                <article class="main__article">
                    <div class="main__articleImgBottomBorder" >
                        <img class="main__articleImg" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                    <div class="main__articleTextosDisplayFlex">
                        <p class="main__articleTextoPrecio">$6.770</p>
                        <p class="main__articleTextoDescuento">40% off</p>
                        <i class="fa-solid fa-truck main__fa-truck"></i>
                    </div>
                    <div class="main__articleTextoTit">
                        <p class="main__articleTextoTitular">Cafetera Moulinex</p>
                    </div>
                </article>
                
                <!-- inicio ultima visita mac book pro -->
                <article class="main__article">
                    <div class="main__articleImgBottomBorder" >
                        <img class="main__articleImg" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>
                    <div class="main__articleTextosDisplayFlex">
                        <p class="main__articleTextoPrecio">$230.000</p>
                        <p class="main__articleTextoDescuento">20% off</p>
                        <i class="fa-solid fa-truck main__fa-truck"></i>
                    </div>
                    <div class="main__articleTextoTit">
                        <p class="main__articleTextoTitular">Mac Book Pro 2019</p>
                    </div>
                </article>
                
                <!-- inicio ultima visita celular s10  -->
                <article class="main__article">
                    <div class="main__articleImgBottomBorder" >
                        <img class="main__articleImg" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>
                    <div class="main__articleTextosDisplayFlex">
                        <p class="main__articleTextoPrecio">$70.000</p>
                        <p class="main__articleTextoDescuento">5% off</p>
                        <i class="fa-solid fa-truck main__fa-truck"></i>
                    </div>
                    <div class="main__articleTextoTit">
                        <p class="main__articleTextoTitular">Samsung Galaxy S10</p>
                    </div>
                </article>
                
                <!-- inicio ultima visita Smart TV 43 " -->
                <article class="main__article">
                    <div class="main__articleImgBottomBorder" >
                        <img class="main__articleImg" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43'">
                    </div>
                    <div class="main__articleTextosDisplayFlex">
                        <p class="main__articleTextoPrecio">$100.000</p>
                        <p class="main__articleTextoDescuento">30% off</p>
                        <i class="fa-solid fa-truck main__fa-truck"></i>
                    </div>
                    <div class="main__articleTextoTit">
                        <p class="main__articleTextoTitular">Samsung Smart TV 43"</p>
                    </div>
                </article>

            </div>

        </section>


        <!-- Sección "ofertas" -->
        <section>
            <h3 class="main__titulares">Ofertas</h3>
                
                <div class="main__sectionUltimaVisita">

                    <!-- inicio ultima visita cafetera -->
                    <article class="main__article">
                        <div class="main__articleImgBottomBorder" >
                            <img class="main__articleImg" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        </div>
                        <div class="main__articleTextosDisplayFlex">
                            <p class="main__articleTextoPrecio">$6.770</p>
                            <p class="main__articleTextoDescuento">40% off</p>
                            <i class="fa-solid fa-truck main__fa-truck"></i>
                        </div>
                        <div class="main__articleTextoTit">
                            <p class="main__articleTextoTitular">Cafetera Moulinex</p>
                        </div>
                    </article>
                    
                    <!-- inicio ultima visita mac book pro -->
                    <article class="main__article">
                        <div class="main__articleImgBottomBorder" >
                            <img class="main__articleImg" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                        </div>
                        <div class="main__articleTextosDisplayFlex">
                            <p class="main__articleTextoPrecio">$230.000</p>
                            <p class="main__articleTextoDescuento">20% off</p>
                            <i class="fa-solid fa-truck main__fa-truck"></i>
                        </div>
                        <div class="main__articleTextoTit">
                            <p class="main__articleTextoTitular">Mac Book Pro 2019</p>
                        </div>
                    </article>
                    
                    <!-- inicio ultima visita celular s10  -->
                    <article class="main__article">
                        <div class="main__articleImgBottomBorder" >
                            <img class="main__articleImg" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        </div>
                        <div class="main__articleTextosDisplayFlex">
                            <p class="main__articleTextoPrecio">$70.000</p>
                            <p class="main__articleTextoDescuento">5% off</p>
                            <i class="fa-solid fa-truck main__fa-truck"></i>
                        </div>
                        <div class="main__articleTextoTit">
                            <p class="main__articleTextoTitular">Samsung Galaxy S10</p>
                        </div>
                    </article>
                    
                    <!-- inicio ultima visita Smart TV 43 " -->
                    <article class="main__article">
                        <div class="main__articleImgBottomBorder" >
                            <img class="main__articleImg" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43'">
                        </div>
                        <div class="main__articleTextosDisplayFlex">
                            <p class="main__articleTextoPrecio">$100.000</p>
                            <p class="main__articleTextoDescuento">30% off</p>
                            <i class="fa-solid fa-truck main__fa-truck"></i>
                        </div>
                        <div class="main__articleTextoTit">
                            <p class="main__articleTextoTitular">Samsung Smart TV 43"</p>
                        </div>
                    </article>
    
                </div>    
        </section>
    </main>

    <%- include("./partials/footer") %>
    

    
</body>
</html>