<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <!-- Div general para las 3 sections.
        1ra sect. header superior con sus tres elementos: logo, barra búsqueda y texto
        2da sect. barra de nav grande, se ve solo en pantallas grandes.
        3er sect. hamb menu, solo se ve en las dos resoluciones chicas.
        -->
                
        <div >
            <!-- 1ra sect. logo, barra búsqueda y texto  -->
            <section class="header__cajaSuperior" >
                <div class="header__cajaSuperior__logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                </div>
                <div class="header__cajaSuperior__busqueda">
                    <form action="/">
                        <input type="text" placeholder="Buscar productos, marcas..." class="header__cajaSuperior__busqueda--input">
                    </form>
                </div>
                <div class="header__cajaSuperior__texto">
                    <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </section>
            
            <!-- 2da sect. barra de nav grande, se ve solo en pantallas grandes.  -->
            <section class="header__barraNavGrande">
                
                <!-- parte barra nav izquierda -->
                <div >
                    <ul class="header__barraNavegacion">
                        <li> <a href="#">Ofertas</a>  </li>
                        <li> <a href="#">Tiendas Oficiales</a>  </li>
                        <li> <a href="#">Vender</a>  </li>
                        <li> <a href="#">Ayuda</a>  </li>
                    </ul>
                </div>
                <!-- parte barra nav derecha -->
                <div>
                    <ul class="header__barraNavegacion">
                        <li> <a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                        <li> <a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li> <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </div>
                
            </section>
            
            <!-- 3er sect. hamb menu, solo se ve en las dos resoluciones chicas. -->
            <section class="header__hamburgerMenu">
                <nav class="bigMacContainer">
                    <i class="fas fa-bars bigMacContainer__BigMac" aria-hidden="true"></i>
                </nav>
            </section>

        </div>
    </header>

          
    <main>
        <!-- Section para el banner -->
        <section>
            <div class="main__contenedorBanner">
                <img src="/images/img-home-banner.jpg" alt="Banner MercadoLiebre">
            </div>
        </section>
        
        <!-- Sección basado en tu última visita -->
        <section class="main__sectionUltimaVisita">
            <h3 class="titulares">Basado en tu última visita</h3>
            
            <article class="main__article">
                <div>
                    <img class="main__articleImg" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </div>

            </article>
            
            <article>
                <div class="main__article">
                    <img class="main__articleImg" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                </div>

            </article>
            
            <article>
                <div class="main__article">
                    <img class="main__articleImg" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </div>

            </article>
            
            <article>
                <div class="main__article">
                    <img class="main__articleImg" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV 43'">
                </div>

            </article>
       
        </section>
    
        <!--             
            <div class="section__article-a-flex">

                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$6.770</p>
                        <p class="decuentos">40% OFF</p>
                    </div>
                                    
                    <i class="fa-solid fa-truck"></i> 
                    
                    <p class="descripciones">Cafetera Moulinex</p>
                </article>
                
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p class="descripciones">MacBook Pro 2019</p>
                </article>
                
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </article>
                
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios"> $23.200</p>
                        <p class="descuentos">50% OFF</p>
                    </div>
                    <p class="descripciones">Samsung Smart TV</p>
                </article>


            </div>

            
            
        </section> -->
        <!-- Fin section "basado en tu última visita" -->
        
        <!-- Sección Ofertas -->

        <!--

        <section>
            <h3>Sección de Ofertas</h3>

            inicio de section__article-a-flex 

            <div class="section__article-a-flex">

                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p class="descripciones">Cafetera Moulinex</p>
                </article>
                
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p class="descripciones">MacBook Pro 2019</p>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV" width="360">
                    <div class="disposicion__precios-descuentos">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">50% OFF</p>
                    </div>
                    <p class="descripciones">Samsung Smart TV</p>
                </article>
            
            </div>
            
    
        </section>

        -->

    </main>

    <footer class="footer__bg">
        <section>
           
            <div class="footer__iconos" >
                <i class="fa-solid fa-credit-card footer__iconos-style"></i>
            </div>
            <h3 class="titulares alineacion-footer">Pagá con tarjeta o en efectivo</h3>
            <p class="alineacion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
           
            <div class="footer__iconos" >
                <i class="fa-solid fa-gift footer__iconos-style"></i>
            </div>
            <h3 class="titulares alineacion-footer">Envío gratis desde $ 2.500</h3>
            <p class="alineacion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            
            <div class="footer__iconos" >
                <i class="fa-solid fa-user-shield footer__iconos-style"></i>
            </div>
            <h3 class="titulares alineacion-footer">Seguridad, de principio a fin</h3>
            <p class="alineacion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@
            </p>
            <p class="alineacion-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
    
</body>
</html>