<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("./partials/header") %> 

          
    <!-- Aquí va el formulario de registro -->
    <main>
        <h3 class="titular__registrese">Ingrese su usuario y contraseña</h3>

        <!-- Inicio de los elementos del form -->
        <form action="/home" method="post" class="form__margenInferior">
       
            <div class="contenedorElementosForm" id="usuario">
                <div class="contenedorLabel">
                    <label class="texto__general" for="usuario" >Su usuario</label>
                </div>
                <div>
                    <input class="texto__input" type="text" name="usuario" placeholder="Nombre de usuario">
                </div>
            </div>
            
            <div class="contenedorElementosForm" id="password">
                <div class="contenedorLabel">
                    <label class="texto__general" for="password" >Su contraseña</label>
                </div>
                <div>
                    <input class="texto__input" type="password" name="password" placeholder="Contraseña">
                </div>
            </div>
            
            <div class="contenedorElementosForm">
                <div class="contenedorLabel" >
                    <label class="texto__general" ></label>
                </div>
                <div>
                    <button class="form__button-login" type="submit">Login</button>
                </div>
            </div>

        </form>
    </main>

    <%- include("./partials/footer") %>

    </body>
</html>

