<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe4ebeaca1.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="header__Bg-color">
        <!-- Div que contendrá el logo y el lugar para la barra de búsqueda -->
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <form action="">
                <input type="text" placeholder="Buscar productos">
            </form>
        </div>
        <div> <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p> </div>
        <nav class="nav__display" >
            <ul>
                <li> <a href="">Ofertas</a>  </li>
                <li> <a href="">Tiendas Oficiales</a>  </li>
                <li> <a href="">Vender</a>  </li>
                <li> <a href="">Ayuda</a>  </li>
            </ul>
            <br>
            <ul>
                <li> <a href="/register">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li> <a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li> <a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
            </ul>
        </nav>
        <div class="align_burger-menu">
            <i class="fas fa-bars burger-menu"></i>
        </div>
    </header>

    <!-- Aquí va el formulario de registro -->
    <main>
        <h3>Regístrese</h3>
        <form action="/home" method="post">
            <p>
                <label for="nombreApellido">Ingrese su nombre y apellido</label><br>
                <input type="text" name="nombreApellido" placeholder="Nombre y Apellido">
            </p>
            <p>
                <label for="usuario">Ingrese su nombre de usuario</label><br>
                <input type="text" name="usuario" placeholder="Nombre de usuario">
            </p>
            <p>
                <label for="email">Ingrese su e-mail</label><br>
                <input type="email" name="email" placeholder="E-mail">
            </p>
            <p>
                <label for="fechaNacimiento">Ingrese su fecha de nacimiento</label><br>
                <input type="date" name="fechaNacimiento" placeholder="E-mail">
            </p>
            <p>
                <label for="domicilio">Ingrese su domicilio</label><br>
                <input type="text" name="domicilio" placeholder="Domicilio">
            </p>
            <p>
                <label for="perfilUsuario">Ingrese perfil de usuario: comprador o vendedor <br>
                    <input type="radio" name="perfilUsuario" value="comprador"> Comprador <br>        
                    <input type="radio" name="perfilUsuario" value="vendedor"> Vendedor <br>        
                </label>
                
            </p>
            <p>
                <label for="intereses">Ingrese sus intereses:<br>
                    <input type="checkbox" name="intereses" value="electro"> Electro <br>        
                    <input type="checkbox" name="intereses" value="moda"> Electro <br>        
                    <input type="checkbox" name="intereses" value="hogar"> Hogar <br>        
                    <input type="checkbox" name="intereses" value="jugueteria"> jugueteria <br>        
                    <input type="checkbox" name="intereses" value="vidaSana"> vidaSana <br>        
                    
                </label>
                
            </p>
            <p>
                <label for="fotoPerfil">Seleccione una foto para el perfil</label><br>
                <input type="file" name="fotoPerfil" accept=".jpg, .jpeg, .png">
            </p>
            <p>
                <label for="password">Elija su su contraseña</label><br>
                <input type="password" name="password" placeholder="Contraseña">
            </p>
            <p>
                <label for="confirmarPassword">Confirme su su contraseña</label><br>
                <input type="password" name="confirmarPassword" placeholder="Confirmar contraseña">
            </p>
            <p>
                <button type="submit">Enviar</button> <button type="reset">Cancelar</button>
            </p>
        </form>
    </main>


    <footer class="footer__bg">
        <section>
           
            <div class="footer__iconos" >
                <i class="fa-solid fa-credit-card footer__iconos-style"></i>
            </div>
            <h3 class="titulares alineacion-footer">Pagá con tarjeta o en efectivo</h3>
            <p class="alineacion-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
           
            <div class="footer__iconos" >
                <i class="fa-solid fa-gift footer__iconos-style"></i>
            </div>
            <h3 class="titulares alineacion-footer">Envío gratis desde $ 2.500</h3>
            <p class="alineacion-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            
            <div class="footer__iconos" >
                <i class="fa-solid fa-user-shield footer__iconos-style"></i>
            </div>
            <h3 class="titulares alineacion-footer">Seguridad, de principio a fin</h3>
            <p class="alineacion-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@
            </p>
            <p class="alineacion-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
    
</body>
</html>