/* 
Estilos generales

-- Paleta de colores
Amarillo:       #EAC926;
Azul:           #03264C;
Celeste:        #1259c3;
Gris oscuro:    #666;
Gris claro:     #ebebeb;
Verde:          #39b54a;

-- Tipografías
Familia: 'Roboto'

-- Tamaños Tipográficos
Cuerpos de texto:   12px
Titulares:          24px (Basado en tu última visita/Ofertas)
Precios:            18px
Descuentos:         16px
Descripciones:      16px
*/


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

header {
    background-color: #EAC926;
    padding: 16px;
}


.header__cajaSuperior {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
}

.header__cajaSuperior__logo {
    margin-left: auto;
    margin-right: auto;    
    width: 30%;
}
.header__cajaSuperior__busqueda {
    margin-left: auto;
    margin-right: auto;    
    width: 30%;
}
.header__cajaSuperior__texto {
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

.header__cajaSuperior__busqueda--input {
    border: solid #ebebeb;
    border-radius: 6px;
    color: #000000;
    font-family: inherit;
    font-size: 1em;
    
    height: 2em;
    padding-left: 15px;
    width: 100%;
}

.header__barraNavGrande {
    display: flex;
    justify-content: space-between;
}

.header__barraNavegacion {
    display: none;
    list-style: none;
    gap: 12px;
}

.header__hamburgerMenu {
    display: flex;
    justify-content: center;
}

.bigMacContainer {
    background-color: #1259c3;
    color: #ebebeb;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    text-align: center;
}

.bigMacContainer__BigMac {
    font-size: 24px;
    padding: 6px;
}

main {
    background-color: #ebebeb;
    width: 100%;
}

.main__contenedorBanner {
    width: 100%;
}

.main__contenedorBanner > img {
    max-width: 100%;
}


/* elemento responsive que se adapta en los media queries */
.main__sectionUltimaVisita {
    padding: 16px;
}

.main__sectionOfertas {
    padding: 16px;
    margin-bottom: 16px;
}

.main__article{
    background-color: #ffffff;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #555;
    margin-bottom: 24px;
}

.main__articleImg {
    width: 100%;
    border: #03264C;
}

.main__articleImgBottomBorder {
    border-bottom: solid 1px #ddd;
}

.main__articleTextosDisplayFlex {
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 12px 0px 12px 24px;
}

.main__articleTextoPrecio {
    font-size: 18px;
}

.main__articleTextoDescuento {
    font-size: 16px;
    color: #39b54a;
}

.main__articleTextoTitular {
    font-weight: 500;
    color: #666;
    margin: 12px 0px 12px 24px;
}

.main__titulares {
    font-size: 22px;
    font-weight: 600;
    color: #666;
    margin: 12px 0 12px 12px;
}

footer {
    background-color: #fff;
    padding: 16px;
    text-align: center;
}


.footer__iconos {
    display: flex;
    margin-bottom: 6px;
    margin-top: 6px;
}

.footer__iconos-style {
    display: block;
    color: #1259c3;
    font-size: 24px;
    margin: auto;   
}

.footer__titulares {
    color: #666;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 6px;
}

.footer__textos {
    color: #777;
    font-size: 16px;
    margin-bottom: 24px;
}

.footer__textoFinal {
    color: #666;
    font-size: 14px;
    margin-bottom: 24px;
}






/* main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
} */

/* main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
} */


@media (min-width: 360px) {
    .header__barraNavegacion {
        display: none;
        list-style: none;
        gap: 12px;
        
    }

    .header__cajaSuperior {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .main__sectionUltimaVisita {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px;
        gap: 24px;
    
    }

    .main__article{
        width: 47%;
        background-color: #ffffff;
        padding: 6px;
        border-radius: 8px;
        box-shadow: 0px 0px 8px #555;
        margin-bottom: 24px;
    }

     
}



@media (min-width: 769px) {
    .header__barraNavegacion {
        display: flex;
        list-style: none;
        gap: 12px;
    }
    
    /* Decoración links para las barras de nav del header */
    .header__barraNavegacion > li > a, a:visited {
        text-decoration: none;
        color: #000000;
    }
    .header__barraNavegacion > li > a:hover {
        text-decoration: underline;
        color: #000000;
        text-underline-offset: 5px;
        
    }

    .header__hamburgerMenu {
        display: none;
    }

    .header__cajaSuperior {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
}
