/* 
Estilos generales

-- Paleta de colores
Amarillo:       #EAC926;
Azul:           #03264C;
Celeste:        #1259c3;
Gris oscuro:    #666;
Gris claro:     #ebebeb;
Verde:          #39b54a;

-- Tipografías
Familia: 'Roboto'

-- Tamaños Tipográficos
Cuerpos de texto:   12px
Titulares:          24px (Basado en tu última visita/Ofertas)
Precios:            18px
Descuentos:         16px
Descripciones:      16px
*/


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

.header__Bg-color {
    background-color: #EAC926;
    /* margin-bottom: 20px; */
    padding: 20px;
}

.main__bg {
    background-color: #ebebeb;
}

.footer__bg {
    background-color: #ebebeb;
}

.titulares {
    font-size: 24px;
    color: #666;
}

.alineacion-footer {
    text-align: center;
}

.precios {
    font-size: 18px;
    width: 30%;
}

.descuentos {
    font-size: 16px;
    width: 70%;
}

.disposicion__precios-descuentos {
    display: flex;
    align-items: center;
}

/* .disposicion__camioneta {
    display: flex;
    justify-content: flex-end;
} */

.descripciones {
    font-size: 16px;
    font-weight: bold;
}

.align_burger-menu {
    text-align: center;
    margin: 10px
}

.burger-menu {
    border: solid 5px #03264C;
    background-color: #03264C;
    border-radius: 19%;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    padding: 5px;
}
.nav__display {
    display: none;
}

.footer__iconos {
    display: flex;
}

.footer__iconos-style {
    display: block;
    color: #03264C;
    font-size: 2em;
    margin: auto;
}

.section__article-a-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
} */

/* main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
} */

@media (min-width: 400px) {
    /* body {
        background: lightskyblue;
    } */
    .align_burger-menu {
        display: none;
    }
    .nav__display {
        display: block;
    }
}

@media (min-width: 769px) {
    /* body {
        background: lightsalmon;
    } */
    .align_burger-menu {
        display: none;
    }
    .nav__display {
        display: block;
    }
}

/* 
@media (max-width: 460px) {
    body {
      background: green;
    }
    .nav__display {
        display: none;
    }
}
  
  @media (min-width: 461px) and (max-width: 900px) {
    body {
      background: red;
    }
    .align_burger-menu {
        display: none;
    }
} */